<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<title>Telecom Egypt</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet3" href="css/util.css">


</head>

<body
	style="background-image: url('images/bg03.jpg'); height =100%; background-position: center; background-size: cover;">
	<section>
		<div align="right">
			<a th:href="@{/login}"> Log Out </a> | <a
				th:href="@{/updatemember?id=__${userid}__}"> Update My Info </a> | <a
				th:href="@{/emprequests}">My Requests</a>
		</div>
		<br> <br>

		<div class="tbl-header">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>Bus No</th>
						<th>From</th>
						<th>To</th>
						<th>Bus Time</th>
						<th>Driver Name</th>
						<th>Available</th>
						<th>...</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbl-content">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr th:each="bus : ${buses}">
						<td th:text="${bus.busNo}"></td>
						<td th:text="${bus.busFrom}"></td>
						<td th:text="${bus.busTo}"></td>
						<td th:text="${bus.busTime}"></td>
						<td th:text="${bus.busName}"></td>
						<td th:text="${bus.capacity - bus.noOfEmployee }"></td>
						<td><a th:href="@{/register?id=__${bus.busNo}__}">Register</a></td>
					</tr>

				</tbody>
			</table>
		</div>
<div align="center" th:text="${registerresult}" Style="color: #0F0;"></div>

	<div align="center" th:text="${Rexception}" Style="color: #AA0114;"></div>
	</section>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

	






</body>

</html>
