<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<title>Telecom Egypt</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet3" href="css/util.css">


</head>
<body
	style="background-image: url('images/bg03.jpg'); height =100%; background-position: center; background-size: cover;">
	<form>

		<section>

			<div align="left">
				<a th:href="@{/employee}"><- Home</a>
			</div>
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>Bus Number</th>
							<th>From</th>
							<th>To</th>
							<th>Bus Time</th>
							<th>Driver Name</th>

							<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;...</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr th:each="bus : ${registerlist}">
							<td th:text="${bus.busNo}"></td>
							<td th:text="${bus.busFrom}"></td>
							<td th:text="${bus.busTo}"></td>
							<td th:text="${bus.busTime}"></td>
							<td th:text="${bus.busName}"></td>
							<td><a th:href="@{/cancel?id=__${bus.busNo}__}">Cancel</a></td>


						</tr>

					</tbody>
				</table>
			</div>
		</section>
		



	</form>




</body>

</html>
